.setting {
    padding-bottom: 30px;
    h2 {
        padding-left: 10px;
        font-size: $font-size-22;
        margin-bottom: 50px;
        border-left: 4px solid #00c0ef;
        box-sizing: border-box;
    }
}