.layout {
    width: 100%;
    min-width: 1400px;
    min-height: 100vh;
    display: flex;
}

.layout-content {
    flex: 1;
    min-height: 100vh;
    background-color: #f0f2f5;
    overflow-x: hidden;
    transition: width 0.3s cubic-bezier(0.2, 0, 0, 1);
}

.layout-header-blank {
    width: 100%;
    height: $header-height;
}

.layout-main {
    width: 100%;
    min-height: calc(100vh - $header-height - $navbar-height - $footer-height);
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.layout-footer {
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;
}