.layout {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.layout-sider-blank {
    flex: 0 $sider-width;
    width: $sider-width;
    height: 100%;
}

.layout-content {
    flex: auto;
    width: calc(100% - $sider-width);
    min-height: 100vh;
    background-color: #f0f2f5;
}

.layout-header-blank {
    width: 100%;
    height: $header-height;
}

.layout-main {
    width: 100%;
    min-height: calc(100vh - $header-height - $navbar-height - $footer-height);
}

.layout-footer {
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;
}