$sider-width: 208px;
$header-height: 52px;
$navbar-height: 40px;
$footer-height: 36px;

// 字体大小
$font-size-8: 8px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;

// 颜色
$color-white: #fff;
$table-border-color: #ebebeb;