.login {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('~@/assets/images/1.svg');
    background: linear-gradient(to bottom, #c6dde4, #fefeff);

    &-container {
        width: 260px;
        margin: 28vh auto;

        h2 {
            margin-bottom: 60px;
            color: #749929;
            text-align: center;
            font-weight: bold;
        }

        .ant-form-item-explain-error {
            font-size: $font-size-12;
        }

        .ant-btn-primary {
            opacity: 1;
            border-color: #749929;
            background: #749929;

            &:hover {
                opacity: .8;
            }
        }
    }
    .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-size: cover;
        background-position: -120px 0;
        background-image: url('~@/assets/images/grass-confetti.png');
    }

    .cloud {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 200px;
        background-size: cover;
        background-image: url('~@/assets/images/cloud-left.png');
        animation: move 25s linear infinite;
    }

    .cloud2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 700px;
        height: 250px;
        background-size: cover;
        background-image: url('~@/assets/images/cloud-right.png');
        animation: move1 25s linear infinite;
    }
    .flower {
        position: fixed;
        bottom: 0px;
        background-repeat: no-repeat;
        transform-origin: center bottom;
        background-image: url('../../assets/images/flower.png');
        animation: 3s linear 1s infinite normal none running ball-x;
    }
    .flower-small {
        width: 36px;
        height: 60px;
        left: 21px;
        border: 0px solid red;
        background-position: 0px -90px;
    }
    .flower-big {
        width: 64px;
        height: 115px;
        left: 47px;
        background-position: -86px -36px;
    }
}
@keyframes ball-x { 
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes move {
    0% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: scale(.3) translate(300px, 180px);
    }
}

@keyframes move1 {
    0% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: scale(.3) translate(0px, 180px);
    }
}